* {
    margin: 0;
    padding: 0;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #01001d;
}
header, footer {
  padding: 30px;
  background-color: #010027;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li {
    margin: 0 25px;
}
a {
  text-decoration: none;
}
h1, h2{
  padding: 0 3rem;
  margin: 2.5rem 0;
}

ol {
  margin: 0 auto;
  text-align: start;
  list-style: disc;
  width: 75%;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 1.6rem;
  font-weight: bold;
}
.presentacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.presentacion div {
  margin: 1em 0;
  width: 40%;
}
.presentacion div p {
  margin: 1.2em 0;
  font-size: 1.1em;
}

.img-w-100{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
textarea {
  text-align: center;
  padding: 0.5em;
}
.rec-btn {
  display: inline-block;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background-color: #4F22F2;
}
.portfolio {
  margin: 2em;
}
.client {
  background-color:#010027;
  width: 80%;
  margin: 1em auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 30px;
}
.client h3 {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
}
.client:nth-child(odd) {
  flex-direction: row;
}
.client-img {
  margin: 3em;
  border-radius: 30px;
  overflow-y: hidden;
}
.about p, .faq p{
  margin: 1rem 0;
}
.about, .faq{ 
  padding: 0 6rem;
  margin: 2.5rem 0;
}
#faq {
  width: 20%;
  margin: auto;
  background-color: beige;
  color: #01001d;
}
.foot-copy, .foot-nav, .nav-rrss {
  width: 20%;
}
.foot-copy p {
  font-size: 0.65em;
}
.foot-nav, .nav-rrss {
  list-style: none;
}
a svg {
  width: 1.3em;
  height: 1.3em;
}
textarea{
  resize: none;
}
.submit-captcha {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#captcha-img {
  width: 8em; 
}
#renovar-captcha {
  background-color: white;
  border-radius: 25%;
  width: 1.4em;
  padding: 0.2em;
}
.contact-links {
  display: flex;
  flex-direction: column;
  padding-top: 3.5em;
  align-items:start;
}
.contact-links a {
  margin-top: 1em;
  margin-bottom: 1em;
}
.contact {
  display: flex;
  justify-content: space-evenly;
}
.captcha {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.nav-rrss {
  display: flex;
  justify-content: space-between;
}

.marginado {
  margin: 0.3em;
}
.re-marginado {
  margin: 1.5 em;
}
.d-block {
  display: block;
}
.dark{
  color: #01001d;
}
